REDIS_HOST=
REDIS_PORT=

DB_ENGINE=
DB_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=

VK_API_TOKEN=
VK_API_GROUP_ID=
VK_API_QUIZ_RESPONSE_INTERVAL=
VK_API_TASKS_INTERVAL=

APP_ALLOWED_HOSTS=
APP_IS_DEBUG=
